# ----- Main Server -----
fastapi
uvicorn[standard]
python-dotenv

# ----- AI Feedback Generation -----
google-generativeai
numpy
mediapipe
requests

SQLAlchemy==2.0.32
psycopg2-binary==2.9.9
pydantic==2.8.2
python-multipart